<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">

    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css">
    <%- style %>
  </head>
  <body>
    <%- include('_header.ejs');%> 

    <main id="layout-main">
      <%- body %> 
    </main> 
   
    <%- include('_footer.ejs'); %>
    <%- script %>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    
    <script>
      <% if(flash.success && flash.success.length>0) { %>
        new Noty({
          theme:'metroui',
          text:'<%= flash.success %>',
          type:'success',
          layout:'topRight',
          timeout:1000
        }).show()
      <% } %>

      <% if(flash.error && flash.error.length>0){ %>
        new Noty({
          theme:'metroui',
          text:'<%= flash.error %>',
          type:'error',
          layout:'topRight',
          timeout:1000
        }).show()
        <% } %>

      <% if(flash.information && flash.information.length>0){ %>
        new Noty({
          theme:'metroui',
          text:'<%= flash.information %>',
          type:'information',
          layout:'topRight',
          timeout:1000
        }).show()
        <% } %>
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"></script>

  </body>
</html>
